body {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -.5px;
    transition: background-color 1.5s ease, color .8s ease !important;

}

body,
#navbar {
    transition: background-color 1.5s ease;
    /* Add a smooth transition effect */
}

#navbar-split-bg {
    background-color: white!important;
    padding-top: 1.5rem;
    padding-bottom: .5rem;
    transition: background-color 1.5s ease;
}

.primary {
    color: skyblue;
}

p {
    font-size: 1.25rem;
}

a {
    text-decoration: none !important;
    color: black !important;
}

h1 {}

h2 {
    font-size: 3rem !important;
}

h3 {
    font-size: 2.75rem !important;
}

h8 {
    font-size: 1.15rem;
    font-weight: 600;
}
.bold {
    font-weight: 700;
}

.highlight {
    color: skyblue;
    font-weight: 600;

}

.logo {
    display: block;
    font-size: 1.75rem;
    font-weight: 400;
}

.logo-adjust {
    position: relative;
    height: 2rem;
}

.navLabels {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-evenly;
}

#navbar {

    padding-top: 1.5rem;
    padding-bottom: .5rem;
    justify-content: space-around;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.02);
}

#navbar-ux-cs-landing {
    transition: background-color 1.5s ease, color .8s ease !important;
    background-color: white;
    padding-top: 1.5rem;
    padding-bottom: .5rem;
    justify-content: space-around;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.02);
}

.sticky-nav {
  
    opacity: 90%;
    position: sticky;
    top: 0;
    /* Stick the navigation bar to the top of the viewport */
    width: 101%!important;
    /* Ensure the navigation bar spans the full width of the viewport */
    background-color: #ffffff;
    /* Optional: Add background color */
    z-index: 1000;
    /* Optional: Specify a z-index to ensure the navigation bar appears above other content */
}

.greeting {
    font-size: 5rem;
}

.greeting-p {
    width: 38rem;
}

.self-portrait-container {
    position: relative;
}

.self-portrait {
    position: absolute;
    bottom: 0;
    z-index: -100;
    padding-left: 8rem;
    scale: 125%;


}

#landing-section-1 {
    height: 50rem;

}

/* case studies: Rescue Riders START */

/* cs-rr global formatting */
.cs-rr-style {
    height: 50rem;
    display: block;
}

.cs-rr-text-container {
    padding-left: 14rem !important;
    padding-top: 6rem !important;
}

.cs-rr-style-text {
    width: 26rem;
    line-height: 1 !important;

}

.cs-rr-style-text h6 {
    font-size: 1.25rem;
    font-weight: 200;
    letter-spacing: .0125rem;
}

.cs-rr-style-text h7 {
    font-size: 2rem;
    font-weight: 600;
    margin-top: -.5rem;
    letter-spacing: -.05rem;
}

.cs-rr-style-subtext-2 {
    line-height: 1.5 !important;
    padding-top: 3rem;
}

/* slide 1 */

#cs-rr-section-1 {}

#rr-1-petfriends {
    scale: 70%;
    padding-right: 6rem;

    padding-bottom: 6rem !important;
}



/* slide 2 */
#cs-rr-section-2 {
    
}

#cs-rr-section-2-img1 {
    scale: 80%;
    margin-left: -2rem!important;
}
#cs-rr-section-2-split-bg {
    background-color: white!important;
}
#cs-rr-section-2-img2 {
    scale: 50%;
    margin-left: -4rem!important;
}
/* slide 3 */
#cs-rr-section-3 {}

.rr-section-3-card-container {
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: -2.5rem!important;
}

.rr-section-3-banners-container {
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: -2.5rem!important;
}
.rr-section-3-card {
    justify-self: center!important;
    text-justify: center!important;
    color: white !important;
    height: 16rem;
    flex-shrink: 0;
    background-color: #122B37;
    width: 22rem!important;
    margin: 0rem 1.5rem;
  
}

.rr-section-3-card {
    justify-self: center!important;
    text-justify: center!important;
    color: white !important;
    height: 16rem;
    flex-shrink: 0;
    background-color: #122B37;
    width: 22rem!important;
    margin: 0rem 1.5rem;
  
}
.rr-section-3-banners {
    justify-self: center!important;
    flex-shrink: 0;
    background-color: #618291;
    width: 22rem!important;
    height: 4.625rem;
    margin-left: 1.5rem!important;
    margin-right: 1.5rem!important;
  


}

.rr-section-3-banners-container {
    justify-content: space-between 1.5rem!important;
    display: flex;
}
#rr-upper-radius {}

.rr-section-3-upper {
    border-radius: 600rem 600rem 0rem 0rem !important;
    background-color: #122B37;
    height: 12rem;
    width: 22rem!important;
    margin: 0rem 1.5rem;

}

#rr-section-3-upper-containter {
    justify-content: center;
}

.rr-section-3-text p {
    padding: 1.25rem 1.75rem;
    text-align: center!important;
    justify-content: center!important;
}

#rr-section-3-banner-container {
    margin-top: -6rem!important;
  
}
#rr-section-3-banner-container div {
    display: grid;
  
}

/* slide 4 */
#cs-rr-section-4 {}
#cs-rr-section-4-img1 {
    scale: 80%;
}
#cs-rr-section-4-split-bg {
    background-color: white!important;
}
/* slide 5 */
#cs-rr-section-5 {}

/* slide 6 */
#cs-rr-section-6 {}

/* slide 7 */
#cs-rr-section-7 {}


/* case studies: Rescue Riders END */

#about-section-1 {
    height: 30rem;

}

#about-section-1-text {
    padding-left: 14rem;
    padding-top: 10rem;

}

#landing-section-1-text {
    padding-left: 14rem;
    padding-top: 16rem;
}

.skills-prev {
    background-color: white;
    justify-content: center;
    flex-wrap: nowrap!important;
    padding-left: 2.15rem;
}

.skill-item {
    padding-top: 4rem;
    height:8rem;
    background-color: grey;
    margin: 0rem 1rem 1rem 0rem;
    
}
#landing-section-2 {
    background-color: black;
    color: white;
    padding-bottom: 10rem;

}

#about-section-2 {
    background-color: black;
    color: white;
    padding-bottom: 6rem;

}

#about-section-3 {
    background-color: skyblue;
    color: black;
    padding-bottom: 6rem;

}

#about-section-4 {
    background-color: white;
    color: black;
    padding-bottom: 6rem;

}
#ux-cs-landing-section-1 {
    background-color: white;
    color: black;
    padding-bottom: 10rem;
    transition: background-color 1.1s ease, color .9s ease !important;

}

#art-landing-section-1 {
    background-color: white;
    color: black;
    padding-bottom: 10rem;


}

.art-text {

    padding: 2rem 1.5rem;
    box-shadow: 2px 2px 10px 6px rgba(0, 0, 0, 0.08);
    border-radius: 20px 20px 20px 0px;
}

#art-landing-section-1 h4 {
    font-size: 1.5rem !important;
}

#art-landing-section-1 h3 {
    font-size: 1rem !important;
    font-weight: 300;
    margin-top: -.5rem;
}

#landing-section-2-text {

    padding-left: 14rem;
    padding-top: 10rem;

}

#ux-cs-landing-section-1-text {
    text-align: center;
    padding-top: 10rem;

}

#case-preview-styles {
    padding-top: 3rem;
    justify-content: center !important;
}

#ux-cs-landing-preview-styles {
    padding-top: 3rem;
    justify-content: center !important;
}

.ux-cs-landing-preview-container {
    align-content: space-between;
    height: 56rem;

}

.case-preview-container {
    align-content: space-between;
    height: 56rem;

}



.case-preview {
    padding-top: 4.56rem;
    padding-bottom: 3.94rem !important;
    padding-left: 5.94rem !important;
    padding-left: 6.42rem !important;
    background-color: white;
    color: black !important;
    height: 24rem;
    width: 70rem !important;
    border-radius: 2.5rem !important;
    position: relative;
}

.ux-cs-landing-case-preview {
    padding-top: 4.56rem;
    padding-bottom: 3.94rem !important;
    padding-left: 5.94rem !important;
    padding-left: 6.42rem !important;
    background-color: white;
    color: black !important;
    height: 24rem;
    width: 70rem !important;
    border-radius: 2.5rem !important;
    position: relative;
    box-shadow: 2px 10px 16px 8px rgba(0, 0, 0, 0.15);
}

.case-preview h4 {}

.case-preview h3 {}

.caseCTA {
    border-radius: 40rem !important;
    padding: 1rem 2.5rem !important;

}

.title-subtitle-group {}

.case-prev-text-group {}

.image-wrap-holder {}

.image-wrapper {

    width: 18.4375rem;
    height: 25.75rem;
    /* Make the image wrapper full height of the card */
    overflow: hidden !important;
    /* Clip the image within the wrapper */
    z-index: -100;
    transform: translateY(5%) !important;
    background-color: white;
}

.wrap {
    margin-top: -4.5rem !important;
    width: 18.4375rem;
    height: 24rem;
    overflow: hidden !important;
}

.clipped-image {
    /* Make the image full width of the wrapper */
    height: 100%;
    width: 100%;
    scale: 130%;
    /* Allow the image to maintain its aspect ratio */

    /* Position the image absolutely within the wrapper */
    object-fit: none;
    /* Maintain aspect ratio and cover the entire wrapper */
    padding-left: 1.5rem !important;
    transform: translateY(7%);
    filter: saturate(0%)
        /* Center the image vertically */


        /* Adjust the vertical position */
}

@keyframes card-phone-rise {
    from {
        transform: translateY(7%);
        filter: saturate(0%);
    }

    to {
        transform: translateY(-4%);
        filter: saturate(100%);
    }
}

#studiyoPrev {
    background-image: none;
    background-size: cover;
    /* Scale the background image to cover the entire container */
    background-position: center;

}


#studiyoPrev:hover .clipped-image {
    animation-name: card-phone-rise;
    animation-duration: 1.2s;
    animation-play-state: initial;
    /*transform: translateY(-40%);*/
    -webkit-animation-fill-mode: forwards;
}

#rrPrev:hover .clipped-image {
    animation-name: card-phone-rise;
    animation-duration: 1.2s;
    animation-play-state: initial;
    /*transform: translateY(-40%);*/
    -webkit-animation-fill-mode: forwards;
}

#studiyoPrev:hover {
    animation-name: studiyo-bg-change;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
}

.case-preview-text {
    width: 32rem;
    align-content: space-between 2.19rem !important;
}

#studiyoCTA {
    background: skyblue;
    color: white;
    font-weight: 500;
}

#studiyoPrev:hover #studiyoCTA {
    animation: sdiyo-CTA-color-change forwards;
    animation-duration: 1.2s;
    font-weight: 500;
}


#rrPrev:hover #rrCTA {
    animation: rr-CTA-color-change forwards;
    animation-duration: 1.2s;
    font-weight: 500;
}



.doodle {
    scale: 30%;
    transform: translateY(-140%);
}

.doodleseen {
    display: block;
}

.doodlehidden {
    display: none;
}

@keyframes rr-CTA-color-change {
    from {
        background-color: grey;
        color: white;
    }

    to {
        background: #F76400;
        color: white;
        font-weight: 600;
    }
}

@keyframes sdiyo-bg-change {
    from {
        background-image: none;
    }

    to {
        background-image: url('/css/images/scissorslighter.svg');
        background-size: cover;
        background-position: center;
    }
}

@keyframes sdiyo-CTA-color-change {
    from {
        background-color: skyblue;
        color: white;
    }

    to {
        background: #073D3D;
        color: white;
        font-weight: 600;
    }
}

#rrCTA {
    background: skyblue;
    color: white;
    font-weight: 500;
}

#rrCTA:hover {
    background: #F76400;
    font-weight: 500;
}


#studiyoCTA:hover {
    background: skyblue;
    color: white;
    font-weight: 500;
}

#work-section-1 {
    height: 50rem !important;
}


#work-section-1 a:hover {
    color: white !important;

}


#writing-section-1 {
    height: 50rem !important;
}
.writing-skill-item-container {
    justify-content: center!important;
}

.ux-skill-item-container {
    justify-content: center!important;
}
.writing-skill-item {
    background-color: grey;
    width: 10rem!impoRTANT;
    padding: 1rem 2rem!important;
    margin: .5rem .5rem;
}
.ux-skill-item {
    background-color: grey;
    width: 10rem!impoRTANT;
    padding: 1rem 2rem!important;
    margin: .5rem .5rem;
}
.writing-descr {
    padding-left: .75rem;
}

#writing-section-1 h1 {
    font-size: 4rem;
    text-align: center;
    padding-top: 6rem;
    padding-bottom: 3rem;
}


#work-section-1 h1 {
    font-size: 4rem;
    text-align: center;
    padding-top: 14rem;
    padding-bottom: 3rem;
}

#work-section-1 h2 {
    font-size: 2.5rem !important;
    padding-top: 1.5rem;
    padding-left: 1.5rem;



}

#tertiary-nav h2 {
    font-size: 1rem !important;
}

#tertiary-nav {
    margin-left: 3.75rem;
}

#writing-section-1 h2 {
    font-size: 2.5rem !important;
    padding-top: 1.5rem;
    padding-left: 1.5rem;

}

.writing-cards {
    justify-content: center !important;
    padding-bottom: 20rem !important;
}



.work-cards {
    justify-content: center !important;
    padding-bottom: 20rem !important;
}

.work-card {
    border-radius: 25px;
    height: 20rem;
    background-color: skyblue;
    width: 30rem !important;
    margin: 2rem 1rem !important;
}

.writing-card {
    border-radius: 25px;
    height: 22.75rem !important;
    background-color: skyblue;
    width: 30rem !important;
    margin: 2rem 1rem !important;
}

.work-card:hover {
    animation: work-card-color-change forwards;
    animation-duration: 1s;


}

.writing-links {
    justify-content: center !important;
}

.writing-link {
    width: 28rem !important;
    background-color: white;
    color: black !important;
    border-radius: 45px !important;
    padding-top: .25rem !important;
    padding-bottom: 1.25rem !important;
    margin-top: .5rem !important;
    margin-left: .75rem !important;
    margin-right: .75rem !important;
}

.writing-card:hover .writing-link {
    animation-name: writiing-link-color-change forwards;
    animation-duration: 1.2s;
}

#blog-link-1 h2 {
    font-size: 1.5rem !important;
}

#blog-link-2 h2 {
    font-size: 1.5rem !important;
}

#research-link-1 h2 {
    font-size: 1.5rem !important;
}

#research-link-2 h2 {
    font-size: 1.5rem !important;
}

#essays-link-1 h2 {
    font-size: 1.5rem !important;
}

#essays-link-2 h2 {
    font-size: 1.5rem !important;
}

.writing-card:hover {
    animation: work-card-color-change forwards;
    animation-duration: 1s;


}

@keyframes writing-link-color-change {
    from {
        background-color: white;
        color: black;
    }

    to {
        background: skyblue !important;
        color: black !important;

    }
}

.writing-card {
    height: 20rem;
    width: 20rem;
    background-color: skyblue;
    width: 30rem !important;
    margin: 2rem 1rem !important;
    border-radius: 25px;
}

#writing-blog {
    background-color: red;
}

#writing-research {
    background-color: blue;
}

.work-descr-hidden {
    display: none;
    color: white !important;
}

.work-card:hover .work-descr-hidden {
    padding-right: 1.75rem;
    padding-top: 1rem !important;
    text-align: right;
    display: block;

}

.work-card:hover .doodlehidden {

    display: block;

}

.work-card:hover .doodleseen {
    display: none;

}

@keyframes doodle-transition-hidden {
    from {
        display: none;
    }

    to {
        display: block;
    }
}





@keyframes work-card-color-change {
    from {
        background-color: skyblue;
        color: black;
    }

    to {
        background-color: black;
        color: white;
    }
}

@keyframes writing-card-color-change {
    from {
        background-color: skyblue;
        color: black;
    }

    to {
        background-color: black;
        color: white;
    }
}

#footer {
    height: 28rem;
    background-color: lightskyblue;
    padding-left: 14rem;
    padding-top: 12rem;
    padding-bottom: 12rem;
}
#footer-ux-cs-landing {
    transition: background-color 1.5s ease, color .8s ease !important;
    height: 28rem;
    background-color: lightskyblue;
    padding-left: 14rem;
    padding-top: 12rem;
    padding-bottom: 12rem;
}

#footer-form {
    width: 28rem;
}

.footer-form-container {}

.form-control {
    margin-bottom: .5rem !important;
    border-radius: 40px !important;
    padding: .75rem !important;
    padding-left: 1.25em !important;

}

#footer-form-message {
    height: 4rem;
    text-align: start !important;

}

 /* Media query for mobile devices */
 @media (max-width: 576px) {
   
   
  }